/////////////////////
// COLOR

$color-primary-dark: #175E5E;
$color-primary-light: #6C9C9C;
$color-font: #145C41;


$color-orange-dark: #F2A526;
$color-orange-light: #FFF0D4;

$color-grey: #AEAFB7;

/////////////////////////////
// FONT

$font-primary: 'Josefin Sans', sans-serif;
$font-thin: 'Ibarra Real Nova', serif;