.btn {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: .7rem;
    cursor: pointer;
    transition: all .2s;

    &:hover,
    &:active {
        transform: translateY(.3rem) scale(.8);
        box-shadow: 0 1rem 1rem rgba(0,0,0, .2);
    }

    &:focus {
        outline: none;
    }

    &--bg-orange {
        color: #fff;
        background-color: rgba($color-orange-dark, .8);
        border: .2rem solid #fff;
        border-right: .5rem solid #fff;
        border-bottom: .5rem solid #fff;

        display: grid;
        justify-self: end;
    }

    &--green {
        color: $color-font;
        background-color: $color-orange-light;
        border: .2rem solid $color-font;
        border-right: .5rem solid $color-font;
        border-bottom: .5rem solid $color-font; 
    }

    &--green--light {
        padding: 1rem 3rem;
        color: $color-primary-dark;
        background-color: $color-primary-light;
        border: .2rem solid $color-font;
        border-right: .5rem solid $color-primary-dark;
        border-bottom: .5rem solid $color-primary-dark; 
    }


}

.exhibition__btn {
   position: relative;
   height: 12rem;
   
}

.btn--round {
    font-size: 1.7rem;
    text-transform: capitalize;
    height: 12rem;
    width: 12rem;
    padding: 2rem;
    border-radius: 50%;
    border: .2rem solid $color-orange-dark;
    color: $color-orange-dark;
    background-color: #fff;
    transition: all .4s;

    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-60%);
    

    &:hover {
        border: .5rem solid $color-font;
        color: #fff;
        background-color: $color-orange-dark;
        box-shadow: 0 1rem 1rem rgba(0,0,0, .2);

        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-60%) scale(.9);
    }
    
}


.exhibition__btn--product {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.btn--product {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    transition: all .8s;
    z-index: 10;

    &__text {
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        transform: translateY(-2rem);
        opacity: 0;
        visibility: hidden;
        transition: all .8s;
    }

    &:hover ~ &__text {
        opacity: 1;
        visibility: visible;
        transform: translateY(-10rem);
       
        
    }
    
    &__box {
        display: grid;

        &--1 {
            grid-column: 4 / 5;
            grid-row: 5 / 6;
        }
        
        &--2 {
            grid-column: 15 / 16;
            grid-row: 6 / 7;
        }
        
        &--3 {
            grid-column: 10 / 14;
            grid-row: 4 / 5;
        }
        
        &--4 {
            grid-column: 3 / 4;
            grid-row: 5 / 6;
        }
        
        &--5 {
            grid-column: 7 / 8;
            grid-row: 4 / 5;
        }
        
        &--6 {
            grid-column: 6 / 7;
            grid-row: 2 / 3;
        }
    }


    
    
}