.subscribe-box {
   
}

.subscribe-input {
    color: $color-primary-dark;
    padding: 0 20rem 1rem 0;
    margin-right: 5rem;
    margin-bottom: 5rem; 
    outline: none;
    border: none;
    border-bottom: .2rem solid $color-primary-dark;
    background-color: $color-primary-light;
}